# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.venv/
env/
*.env

# IDE/editor settings
.vscode/
.idea/

# Logs and databases
*.log
*.db
*.sqlite3

# Python packages
*.egg-info/
dist/
build/

# Cache and temporary files
*.bak
*.tmp
*.swp
*.swo

# Streamlit and local files
.streamlit/
*.pid
localtunnel/
